aiofiles
aiohttp[speedups]
asyncio
dnspython
ffmpeg-python
gitpython
yt-dlp==2021.12.17
hachoir
heroku3
lyricsgenius
motor
pillow
psutil
python-telegram-bot==13.12
py-tgcalls
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml==5.4
requests
speedtest-cli
spotipy
telethon-tgcrypto
youtube_search
youtube-search-python
python-arq
telegram==0.0.1
tgcrypto
wget
youtube-search
