aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow
psutil
py-tgcalls
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml
pymongo[srv]
pymongo
requests
speedtest-cli
spotipy
tgcrypto
youtube_search_python
youtube_search
git+https://github.com/yt-dlp/yt-dlp.git
wget
